body {
    font-family: 'Raleway', sans-serif;
    color: #222;
    background: linear-gradient(to right, #ffda79, #ff793f);
    margin-top: 5em;
}

span {
    text-transform: uppercase;
}

h1 {
    text-transform: uppercase;
    letter-spacing: .15em;
    font-size: 2.25em;
}

.container {
    text-align: center;
}

